@model EmployeeViewModel
@{
    ViewBag.Title = ViewBag.Action + " Employee";
}

<h2 class="my-3">@ViewBag.Action Employee</h2>

<form method="post">

    @Html.Partial("_EmployeeFormPartial", Model)

    <div class="text-right">
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back</a>
        <input type="submit" value="@ViewBag.Action" class="btn btn-primary" />
    </div>
</form>
